*.log
npm-debug.log*
yarn-error.log

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Dependency directories
node_modules

# npm package lock
package-lock.json
yarn.lock

# project files
.docz
config
cypress
src
test
docs
CHANGELOG.md
example.png
cypress.json
doczrc.js
gatsby-config.js
jest.config.js
webpack.config.babel.js
.travis.yml
.editorconfig
.eslintignore
.eslintrc
.babelrc
.gitignore


# lock files
package-lock.json
yarn.lock

# others
.DS_Store
.idea
