.ReactSeeThrough-mask {
  position: absolute;
  top: 0;
  left: 0;
  animation: ReactSeeThrough-mask-fadeIn 0.3s forwards;
  z-index: 2000000000; // 2 billion
}

@keyframes ReactSeeThrough-mask-fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
